In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("TPEOD_201803.csv", sep='\s+', index_col=0, skiprows=[1,7593266,7593268])

In [3]:
df.tail()

            時段  進站    出站  人次
日期
2018-03-31  23  丹鳳  徐匯中學   1
2018-03-31  23  丹鳳  三和國中   1
2018-03-31  23  丹鳳  三重國小   4
2018-03-31  23  丹鳳    迴龍   3
2018-03-31  23  丹鳳    丹鳳   1

In [4]:
df[(df["進站"] == "忠孝復興") & (df["出站"] == "台北車站")]

            時段    進站    出站   人次
日期
2018-03-01   0  忠孝復興  台北車站    8
2018-03-01   1  忠孝復興  台北車站    0
2018-03-01   5  忠孝復興  台北車站    0
2018-03-01   6  忠孝復興  台北車站   43
2018-03-01   7  忠孝復興  台北車站   78
2018-03-01   8  忠孝復興  台北車站  108
2018-03-01   9  忠孝復興  台北車站   95
2018-03-01  10  忠孝復興  台北車站  106
2018-03-01  11  忠孝復興  台北車站  120
2018-03-01  12  忠孝復興  台北車站  174
2018-03-01  13  忠孝復興  台北車站  193
2018-03-01  14  忠孝復興  台北車站  208
2018-03-01  15  忠孝復興  台北車站  308
2018-03-01  16  忠孝復興  台北車站  311
2018-03-01  17  忠孝復興  台北車站  369
2018-03-01  18  忠孝復興  台北車站  453
2018-03-01  19  忠孝復興  台北車站  353
2018-03-01  20  忠孝復興  台北車站  283
2018-03-01  21  忠孝復興  台北車站  297
2018-03-01  22  忠孝復興  台北車站  194
2018-03-01  23  忠孝復興  台北車站   37
2018-03-02   0  忠孝復興  台北車站   15
2018-03-02   1  忠孝復興  台北車站    0
2018-03-02   5  忠孝復興  台北車站    0
2018-03-02   6  忠孝復興  台北車站   37
2018-03-02   7  忠孝復興  台北車站   66
2018-03-02   8  忠孝復興  台北車站  110
2018-03-02   9  忠孝復興  台北車站   99
2018-03-02  10  忠孝復興  台北車站  105
2018-03-02  11  忠孝復興  台北車站  150
...         ..   ...   ...  ...
2018-03-30  15  忠孝復興  台北車站  286
2018-03-30  16  忠孝復興  台北車站  349
2018-03-30  17  忠孝復興  台北車站  419
2018-03-30  18  忠孝復興  台北車站  513
2018-03-30  19  忠孝復興  台北車站  424
2018-03-30  20  忠孝復興  台北車站  427
2018-03-30  21  忠孝復興  台北車站  402
2018-03-30  22  忠孝復興  台北車站  282
2018-03-30  23  忠孝復興  台北車站   66
2018-03-31   0  忠孝復興  台北車站   20
2018-03-31   1  忠孝復興  台北車站    0
2018-03-31   5  忠孝復興  台北車站    0
2018-03-31   6  忠孝復興  台北車站   34
2018-03-31   7  忠孝復興  台北車站   74
2018-03-31   8  忠孝復興  台北車站   94
2018-03-31   9  忠孝復興  台北車站  100
2018-03-31  10  忠孝復興  台北車站  113
2018-03-31  11  忠孝復興  台北車站  145
2018-03-31  12  忠孝復興  台北車站  197
2018-03-31  13  忠孝復興  台北車站  263
2018-03-31  14  忠孝復興  台北車站  368
2018-03-31  15  忠孝復興  台北車站  431
2018-03-31  16  忠孝復興  台北車站  437
2018-03-31  17  忠孝復興  台北車站  469
2018-03-31  18  忠孝復興  台北車站  573
2018-03-31  19  忠孝復興  台北車站  432
2018-03-31  20  忠孝復興  台北車站  424
2018-03-31  21  忠孝復興  台北車站  374
2018-03-31  22  忠孝復興  台北車站  304
2018-03-31  23  忠孝復興  台北車站   87

[651 rows x 4 columns]

In [4]:
df2 = pd.read_csv("test.csv")
df2.head()

    line stationA stationB  traveltime  id  stoptime_A
0  淡水-象山    捷運淡水站   捷運紅樹林站         175   1           0
1  淡水-象山   捷運紅樹林站    捷運竹圍站         136   2          25
2  淡水-象山    捷運竹圍站    捷運關渡站         145   3          25
3  淡水-象山    捷運關渡站    捷運忠義站          78   4          25
4  淡水-象山    捷運忠義站   捷運復興崗站         109   5          25

In [8]:
df_dict = pd.read_csv("taipei-metro-station-id.csv")
df_dict.head()

  station_id name_ch
0       BR01     動物園
1       BR02      木柵
2       BR03    萬芳社區
3       BR04    萬芳醫院
4       BR05      辛亥

In [6]:
df2.line.unique()

array(['淡水-象山', '北投-大安', '松山-新店', '松山-台電大樓', '七張-小碧潭', '北投-新北投',
       '南港展覽館-頂埔', '南港展覽館-亞東醫院', '動物園-南港展覽館', '南勢角-蘆洲', '南勢角-迴龍'],
      dtype=object)

In [9]:
# s: short-turn route
# f: feeder route
# O1, O2: branch routes of Orange line
line_dict = {'淡水-象山':'R',
             '北投-大安':'Rs',
             '松山-新店':'G',
             '松山-台電大樓':'Gs',
             '七張-小碧潭':'Gf',
             '北投-新北投':'Rf',
             '南港展覽館-頂埔':'BL',
             '南港展覽館-亞東醫院':'BLs',
             '動物園-南港展覽館':'BR',
             '南勢角-蘆洲':'O2',
             '南勢角-迴龍':'O1'}

In [11]:
df2.replace({"line":line_dict}, inplace=True)
df2.head()

  line stationA stationB  traveltime  id  stoptime_A
0    R    捷運淡水站   捷運紅樹林站         175   1           0
1    R   捷運紅樹林站    捷運竹圍站         136   2          25
2    R    捷運竹圍站    捷運關渡站         145   3          25
3    R    捷運關渡站    捷運忠義站          78   4          25
4    R    捷運忠義站   捷運復興崗站         109   5          25